body {
    background-color: rgb(163, 163, 163);
    font-family: sans-serif;
    margin: 2rem;
}

.main-title h1 {
    margin-bottom: 0.5rem;
}

.categories a {
    display: block;
    color: #111;
    text-decoration: none;
    margin-top: 0.4rem;
}

.categories a:hover {
    text-decoration: underline;
}